@page
@using WebDönemProjesi.Pages
@model IndexModel
@{
    ViewData["Title"] = "Anasayfa";
}

   <style>
  .center-text {
    text-align: center;
  }
</style>

<h1 class="display-3 center-text" style="font-size: 64px; background-color: aliceblue; margin: 12px;">Yaş Hesaplama Web Sayfası</h1>
<h2 class="center-text" style="color:darkblue; font-size: 24px;">Hoşgeldiniz</h2>
